<!-- start custom head snippets -->

<!-- LINDAREX :: FAVICON :: BIGIN -->
<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico">
<!-- LINDAREX :: FAVICON :: END -->

<!-- LINDAREX :: FEED :: BIGIN -->
<!-- <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" title="{{ site.title }} Feed"> -->
<!-- LINDAREX :: FEED :: END -->

<!-- LINDAREX :: GOOGLE ANALYTICS :: BIGIN -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-157973560-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-157973560-1');
</script>
<!-- LINDAREX :: GOOGLE ANALYTICS :: END -->

<!-- LINDAREX :: NAVER ANALYTICS :: BIGIN -->
<!-- Naver Analytics -->
<script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script>
<script type="text/javascript">
if(!wcs_add) var wcs_add = {};
wcs_add["wa"] = "42df78a7dfd6f0";
wcs_do();
</script>
<!-- LINDAREX :: NAVER ANALYTICS :: END -->

<!-- LINDAREX :: GOOGLE ADSENSE :: BIGIN -->
<script data-ad-client="ca-pub-8367174639781348" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- LINDAREX :: GOOGLE ADSENSE :: END -->

<!-- end custom head snippets -->
